//Colors
    $VeryDarkGray: hsl(0, 0%, 17%);
    $DarkGray: hsl(0, 0%, 59%);
    $Gray: hsl(0, 0%, 75%);
    $LightGray: hsl(0, 0%, 90%);
    $White: hsl(0, 0%, 98%);
//Fonts
    $VerySmallFont: 1.4rem;
    $SmallFont: 1.8rem;
    $MediumFont: 2.2rem;
    $LargeFont: 2.6rem;
    $XLargeFont: 3.2rem;
    $XXLargeFont: 3.6rem;
